node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
src/config/firebase/service_account_prod.json
src/config/firebase/service_account_dev.json
# macOS
.DS_Store
